.sfss-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sfss-buttons a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}

.sfss-buttons a:hover {
  color: #fff;
  background-color: #222;
}

.sfss-buttons i {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .sfss-buttons i {
    display: none;
  }
}

.sfss_facebook {
  background-color: #4064ac;
}

.sfss_twitter {
  background-color: #1c9cea;
}

.sfss_reddit {
  background-color: #f74300;
}
